body{
   background-image: -moz-linear-gradient(left, #c1ddfa, #ffcfcb, #ff9f97,#98b6ec);
   background-image: -webkit-linear-gradient(left, #c1ddfa, #ffcfcb, #ff9f97,#98b6ec);
   background-image: -o-linear-gradient(left, #c1ddfa, #ffcfcb, #ff9f97,#98b6ec);
}
h1{
    font-family: 'Fredericka the Great', cursive;
    font-weight: normal;
    font-size: 50px;
    color:/* #ff8376,*/ #4e529d;
}
#logo{
    width: 200px;
    height: 200px;
}
#luiz{
    float: right;
    position:absolute;
}
#felipe{
    float: left;
    position: absolute;
}
footer{
    clear:both;
    position:absolute;
    bottom:0;
    width:99%;
    text-align:center;  
}
<<<<<<< HEAD

a{
	text-decoration: none;
=======
a{
    text-decoration: none;
>>>>>>> 985fd182f68f5ff9ef9cd4aec52c7c6475486ee7
}