body{
   background-image: -moz-linear-gradient(left, #c1ddfa, #ffcfcb, #ff9f97,#98b6ec);
   background-image: -webkit-linear-gradient(left, #c1ddfa, #ffcfcb, #ff9f97,#98b6ec);
   background-image: -o-linear-gradient(left, #c1ddfa, #ffcfcb, #ff9f97,#98b6ec);
}
h1{
    font-family: 'Fredericka the Great', cursive;
    font-weight: normal;
    font-size: 50px;
    color:/* #ff8376,*/ #4e529d;
}
#logo{
    width: 200px;
    height: 200px;
}
#luiz{
    float: right;
    position:absolute;
}
#felipe{
    float: left;
    position: absolute;
}
footer{
    clear:both;
    position:absolute;
    bottom:0;
    width:99%;
    text-align:center;  
}
a{
    text-decoration: none;
    place-content: 
}
#menu{
    width: 100px;
    height: 100px;
   /* background: red;*/
    position: relative;
    -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
    animation: mymove 7s infinite;
    animation-delay: 1s;
  }
  /* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
  }
  
  @keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
  }
  #but {
    width: 100px;
    height: 50px;
    background-color: none;
    position: relative;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 9s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: 5; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 9s;
    animation-iteration-count: 5;
    margin-left: 38%;
  }
  
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes example {
    0%   {background-color:#c1ddfa; left:0px; top:0px;}
    25%  {background-color:#ffcfcb; left:200px; top:0px;}
    50%  {background-color:#ff9f97; left:200px; top:200px;}
    75%  {background-color:#98b6ec; left:0px; top:200px;}
    100% {background-color:#4e529d; left:0px; top:0px;}
  }
  
  /* Standard syntax */
  @keyframes example {
    0%   {background-color:#c1ddfa; left:0px; top:0px;}
    25%  {background-color:#ffcfcb; left:200px; top:0px;}
    50%  {background-color:#ff9f97; left:200px; top:200px;}
    75%  {background-color:#98b6ec; left:0px; top:200px;}
    100% {background-color:#4e529d; left:0px; top:0px;}
  }
  #logimg {
    width: 100px;
    height: 100px;
    background-color: none;
    position: relative;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
  }
  
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes example {
    0%   {background-color:none; left:0px; top:0px;}
    25%  {background-color:none; left:200px; top:0px;}
    50%  {background-color:none; left:200px; top:200px;}
    75%  {background-color:none; left:0px; top:200px;}
    100% {background-color:none; left:0px; top:0px;}
  }
  
  /* Standard syntax */
  @keyframes example {
    0%   {background-color:none; left:0px; top:0px;}
    25%  {background-color:none; left:200px; top:0px;}
    50%  {background-color:none; left:200px; top:200px;}
    75%  {background-color:none; left:0px; top:200px;}
    100% {background-color:none; left:0px; top:0px;}
  }

  